Flask==3.1.1
Flask-SQLAlchemy==3.1.1
Flask-Migrate==4.1.0
Flask-JWT-Extended==4.7.1
flask-cors==6.0.0
Flask-Mail==0.10.0
SQLAlchemy==2.0.41
greenlet==3.2.2
psycopg2-binary==2.9.10
python-dotenv==1.1.0
redis==5.0.6
flask-limiter==4.0.0
limits==5.6.0
requests==2.32.3
phonenumberslite==9.0.11
alembic==1.15.2
itsdangerous==2.2.0
click==8.2.0
PyJWT==2.10.1
pytz==2025.2
python-dateutil==2.9.0.post0
